<nav
  class="navbar px-5"
  style="background-color: rgb(144, 55, 55)"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a [routerLink]="['/']" class="navbar-item">
      <img src="inessenceNoBGpng.png" alt="Logo" style="max-height: 70px" />
    </a>

    <!-- Hamburger menu -->
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      [class.is-active]="isMenuActive"
      (click)="toggleNavbar()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbarMenu"
    class="navbar-menu"
    [class.is-active]="isMenuActive"
    style="background-color: rgb(144, 55, 55)"
  >
    <div
      class="navbar-end is-spaced"
      style="background-color: rgb(144, 55, 55)"
    >
      <a
        [routerLink]="['/bodywork']"
        routerLinkActive="is-active"
        class="navbar-item is-size-4"
        >Bodywork</a
      >
      <span class="navbar-divider"></span>
      <a
        [routerLink]="['/community']"
        routerLinkActive="is-active"
        class="navbar-item is-size-4"
        >Community work</a
      >
      <span class="navbar-divider"></span>
      <a
        [routerLink]="['/about']"
        routerLinkActive="is-active"
        class="navbar-item is-size-4"
        >About</a
      >
      <span class="navbar-divider"></span>
      <a
        [routerLink]="['/poetry']"
        routerLinkActive="is-active"
        class="navbar-item is-size-4"
        >Poetry</a
      >
      <span class="navbar-divider"></span>
      <a
        [routerLink]="['/herbal']"
        routerLinkActive="is-active"
        class="navbar-item is-size-4"
        >Herbal creations</a
      >
      <span class="navbar-divider"></span>
      <a
        [routerLink]="['/tattoo']"
        routerLinkActive="is-active"
        class="navbar-item is-size-4"
        >Tattooing</a
      >
    </div>
  </div>
</nav>
