<nav
  class="navbar px-5 is-transparent"
  [ngClass]="{ 'is-active': isMenuActive }"
  role="navigation"
  aria-label="main navigation"
  style="position: absolute; top: 0; width: 100%; z-index: 10"
>
  <div class="navbar-brand">
    <a [routerLink]="['/']" class="navbar-item">
      <img src="inessenceNoBGpng.png" alt="Logo" style="max-height: 60px" />
    </a>

    <!-- Hamburger menu -->
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      [class.is-active]="isMenuActive"
      (click)="toggleNavbar()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div
    id="navbarMenu"
    class="navbar-menu"
    [class.is-active]="isMenuActive"
  >
    <div class="navbar-end">
      <a
        [routerLink]="['/bodywork']"
        routerLinkActive="is-active"
        class="navbar-item nav-link"
        >Bodywork</a
      >
      <a
        [routerLink]="['/community']"
        routerLinkActive="is-active"
        class="navbar-item nav-link"
        >Community work</a
      >
      <a
        [routerLink]="['/about']"
        routerLinkActive="is-active"
        class="navbar-item nav-link"
        >About</a
      >
      <a
        [routerLink]="['/poetry']"
        routerLinkActive="is-active"
        class="navbar-item nav-link"
        >Poetry</a
      >
      <a
        [routerLink]="['/herbal']"
        routerLinkActive="is-active"
        class="navbar-item nav-link"
        >Herbal creations</a
      >
    </div>
  </div>
</nav>
