.navbar-burger span {
  background-color: black !important; /* Zorgt ervoor dat de lijnen zwart zijn */
}

.navbar-burger:hover span {
  background-color: black !important; /* Zorgt ervoor dat de lijnen zwart blijven bij hover */
}

/* Wanneer het menu actief is (open), zorg dat de kruis-lijnen ook zwart zijn */
.navbar-burger.is-active span {
  background-color: black !important;
}
