<nav class="navbar is-warning px-5" style="background-color: #fbd886">
  <div class="navbar-menu is-active" style="width: 100%">
    <div class="navbar-start is-spaced">
      <a class="navbar-item is-size-4">Bodywork</a>
      <span class="navbar-divider"></span>
      <a class="navbar-item is-size-4">Community work</a>
      <span class="navbar-divider"></span>
      <a class="navbar-item is-size-4">About</a>
    </div>

    <!-- Centraal logo -->
    <div class="navbar-item is-expanded is-flex is-justify-content-center">
      <img src="inessencefulllogo.jpg" alt="Logo" style="max-height: 70px" />
    </div>

    <div class="navbar-end is-spaced">
      <a class="navbar-item is-size-4">Poetry</a>
      <span class="navbar-divider"></span>
      <a class="navbar-item is-size-4">Herbal creations</a>
      <span class="navbar-divider"></span>
      <a class="navbar-item is-size-4">Tattooing</a>
    </div>
  </div>
</nav>
