<section
  class="hero is-fullheight"
  style="
    background: url('tempacht.jpg') no-repeat center center;
    background-size: cover;
  "
>
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title" style="font-size: 4rem; color: #f4f4f4">
          Welcome to Inessence
        </h1>
        <h2 class="subtitle" style="font-size: 2.5rem; color: #f8f8f8">
          Experience relaxation, community, and creativity
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box" style="background-color: #fbd886">
            <h3 class="title is-4">Bodywork</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non
              erat eu ligula vulputate luctus.
            </p>
            <button class="button is-warning mt-3">Learn More</button>
          </div>
        </div>

        <div class="column">
          <div class="box" style="background-color: #fbd886">
            <h3 class="title is-4">Poetry</h3>
            <p>
              Fusce facilisis erat eget nisi vehicula, non cursus odio sodales.
              Duis feugiat lacus sed magna suscipit tempus.
            </p>
            <button class="button is-warning mt-3">Explore</button>
          </div>
        </div>

        <div class="column">
          <div class="box" style="background-color: #fbd886">
            <h3 class="title is-4">Herbal Creations</h3>
            <p>
              Nulla facilisi. In hac habitasse platea dictumst. Quisque nec
              felis et risus dapibus ultricies.
            </p>
            <button class="button is-warning mt-3">Discover</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
